<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="AZhang" />
    <title>(產品)名稱</title>
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.css" />
    <link
      rel="stylesheet"
      href="/public/stylesheets/productPage/productStyle.css"
    />
  </head>
  <body>
    <header>
      <nav class="header">
        <ul>
          <li>
            <a href="/" title="回首頁"
              ><img src="/public/images/logo/cambuyLogo.png" alt="cambuyLogo"
            /></a>
          </li>
          <li>
            <form>
              <input type="text" name="search" placeholder="搜尋商品" /><button
                type="submit"
                title="搜尋"
              >
                <img src="/public/images/icons/search.png" alt="search" />
              </button>
            </form>
            <div id="search-result">
              <ul>
                <li><a href="#">1</a></li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
              </ul>
            </div>
          </li>
          <li>
            <label class="switch" title="深/淺色模式">
              <input type="checkbox" />
              <span class="slider moon">☽</span>
              <span class="slider round sun">☼</span>
            </label>
          </li>
          <li>
            <a href="#" title="通知"
              ><img src="/public/images/icons/advice.png" alt="advice"
            /></a>
          </li>
          <li>
            <a href="/login" title="會員中心"
              ><img src="/public/images/icons/member.png" alt="member"
            /></a>
          </li>
          <li>
            <a href="/shopCart" title="購物車"
              ><img src="/public/images/icons/buy-cart.png" alt="buy-cart"
            /></a>
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
