<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="AZhang" />
    <title>ComBuy - 產品</title>
    <link rel="icon" href="/public/images/logo/favicon.ico" />
    <link rel="stylesheet" href="/public/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/public/stylesheets/sidenav.css" />
    <link rel="stylesheet" href="/public/stylesheets/out.css" />
    <link rel="stylesheet" href="/public/stylesheets/universal/footer.css" />
    <link rel="stylesheet" href="/public/stylesheets/darkModeCheckbox.css" />
    <link rel="stylesheet" href="/public/stylesheets/header.css" />
  </head>
  <body>
    <%-await include('../header'); %>

    <main class="row"></main>
    <%-await include('../footerWidth.ejs') %>
    <script src="/public/js/jquery-3.6.0.js"></script>
    <script src="/public/js/productPage/productJS.js"></script>
    <script src="/public/js/productPage/watchComparison.js"></script>
    <script src="/public/js/universal/header.js"></script>
  </body>
</html>
