<aside class="col-2">
  <nav class="navSide">
    <ul>
      <% for( let i = 0; i < brand.length; i++ ) { %>
      <li class="brand">
        <a value="<%=brand[i].brand_id%>" title="<%=brand[i].brand%>"
          ><%=brand[i].brand%></a
        >
      </li>
      <% } %>
    </ul>
  </nav>
</aside>
