
<%-await include('./chageProduct.ejs') %>
<section class="contral-product-page pagination">
  <% for( let i = 1; i <= lastPage; i++ ) { if (i == 1) { %>
  <button class="active changePage"><%=i%></button>
  <% }else { %>
  <button class="changePage"><%=i%></button>
  <% } } %>
</section>
