<header>
    <nav class="header">
        <ul>
            <li>
                <a href="#" title="回首頁"><img src="./images/logo/cambuyLogo.png" alt="cambuyLogo" /></a>
            </li>
            <li>
                <form action="/search" method="get">
                    <input type="text" name="search" value="search" /><button type="submit" title="搜尋">
                        <img src="./images/icons/search.png" alt="search" />
                    </button>
                </form>
            </li>
            <li>
                <label class="switch" title="深/淺色模式">
                    <input type="checkbox" />
                    <span class="slider moon">☽</span>
                    <span class="slider round sun">☼</span>
                </label>
            </li>
            <li>
                <a href="#" title="通知"><img src="./images/icons/advice.png" alt="advice" /></a>
            </li>
            <li>
                <a href="#" title="會員中心"><img src="./images/icons/member.png" alt="member" /></a>
            </li>
            <li>
                <a href="#" title="購物車"><img src="./images/icons/buy-cart.png" alt="buy-cart" /></a>
            </li>
        </ul>
    </nav>
</header>