div.pages {
  display: flex;
  padding: 1.5em 0;
  .page {
    @extend %displayFlexCenter;
    width: 2.5em;
    height: 2.5em;
    margin: 0 0.5em;

    color: $color_ffffff;
    background-color: $color_808180;
    @extend %roundAll;
  }
}
