/* The sidebar menu */

.sidenav {
  height: 100%;
  width: 15%;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #FFEEEE;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  
  &:hover {
    color: #f1f1f1;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.top1, .top2 {
  display: block;
  margin-left: 16%;
  margin-right: 1%;
  background-color: #fff;
  
}

.top2 {
  &-r10px {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &-b10px {
    border-radius: 10px;
  }

  &-bgray {
    background-color: #F2F2F2;
  }
}

.rbgray, .gray1, .gray2, .gray3, .even-row {
  background-color: #F2F2F2;
}

.gray1, .gray3 {
  border-radius: 10px;
}

.gray3 {
  height: 30px;
}

.titlefont {
  font-size: 25px;
  display: inline-block;
  padding: 1%;
}

.titlefont-blue {
  color: #2D59F5;
}

.butt1 {
  width: 10%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.50);
}

.iphone {
  width: 150px;
}

body {
  background-color: #DFD9D9;
}

.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  height: 200px;
}

.txtara, .conarae {
  border: 1px solid #D9D9D9;

  &:focus {
    border-color: #D9D9D9;
    outline: none;
  }
}

.conarae {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

// .inputS, .stockinput {
//   width: 20%;
//   height: 30px;
// }

// .inputS {
//   border: 2px #D9D9D9 solid;
// }

.input-right-placeholder::placeholder {
  direction: rtl;
  text-align: right;
}

.titlerow {
  height: 40px;
  padding-top: 8px;
}

.mtt {
  margin-top: 0px;
}

.menu {
  width: 500px;
}

#category-selection, #sub-category-selection {
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: absolute;
  z-index: 1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.odd-row {
  background-color: #ffffff;
}

/* 進入動畫 */
.fade-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 5000ms, transform 5000ms;
}

/* 退出動畫 */
.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 5000ms, transform 5000ms;
}



/* CSS: 隱藏原生文件選擇器但仍保持其功能 */
.custom-file-input:lang(en)~.custom-file-label::after {
  content: "選擇檔案";
}

.custom-file-input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

/* 覆寫 Bootstrap 的原生樣式 */
.custom-file-label {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
}

.custom-file-label::after {
  display: none;
}


.custom-file-label {
  background-color: #007bff; /* Bootstrap btn-primary 背景色 */
  border-color: #007bff; /* Bootstrap btn-primary 邊框色 */
  color: #fff; /* Bootstrap btn 文字色 */
  border-radius: 0.25rem; /* Bootstrap 按鈕的邊框半徑 */
  display: inline-block;
  font-weight: 400; /* 字體粗度 */
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* 過渡效果 */
  padding: 0.375rem 0.75rem; /* 內距 */
  font-size: 1rem; /* 字體大小 */
  line-height: 1.5;
  user-select: none; /* 避免使用者選擇文字 */
}

/* 當鼠標懸停在標籤上時的樣式 */
.custom-file-label:hover {
  background-color: #0056b3; /* 更深的背景色 */
  border-color: #0056b3; /* 更深的邊框色 */
}

/* 當按鈕被按下時的樣式 */
.custom-file-label:active,
.custom-file-label:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5); /* Bootstrap 按鈕聚焦效果 */
  outline: 0; /* 移除外框 */
}
